# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store
/*/*/*/*/*/.DS_Store
/.AppleDouble
/*/.AppleDouble
/*/*/.AppleDouble
/*/*/*/.AppleDouble
/*/*/*/*/.AppleDouble
/*/*/*/*/*/.AppleDouble
/*/*/*/*/*/*/.AppleDouble
/*/*/*/*/*/*/*/.AppleDouble
/*/*/*/*/*/*/*/*/.AppleDouble

# configs
/templates/config/keys/app.key.rsa
/templates/config/keys/app.key.rsa.pub
/templates/config/app.yml
/templates/config/database.yml
/templates/config/email.yml
