._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
*.log
Thumbs.db
tmp/
vendor/

# configs
templates/**/keys/app.key.rsa
templates/**/keys/app.key.rsa.pub
templates/**/app.yml
templates/**/database.yml
templates/**/email.yml